# Build artifacts
**/build
**/captures

# Gradle
.gradle
.gradle_home/
local.properties

# IntelliJ
**/.idea
*.iml
.kotlin/**

# Other
.DS_Store
.externalNativeBuild
.cxx
**/metadata/android/screenshots.html
**/report.xml
.DS_Store
.externalNativeBuild
.cxx
local.properties
**/metadata/android/screenshots.html
**/report.xml
